<nav class="site-nav" aria-label="Main navigation">
    <a href="/">Home</a>
    <a href="/#tag-search">Tag Search</a>
    <a href="/#text-search">Text Search</a>
    <a href="/randomGif">Random GIF</a>
</nav>
